{% extends 'principal/base.html' %}
{% load static %}

{% block title %}
    <title>Registro de Usuario</title>
{% endblock %}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center "> 
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Registro</h5>
                <div class="form-group">
                    <label for="id_username">Usuario</label>
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Ingrese su nombre de Usuario" required>
                </div>
                <div class="form-group">
                    <label for="id_firsname">Nombre</label>
                    <input type="text" class="form-control" id="id_firstname" name="first_name" placeholder="Ingrese su nombre" required>
                </div>
                <div class="form-group">
                    <label for="id_lastname">Apellido</label>
                    <input type="text" class="form-control" id="id_lastname" name="last_name" placeholder="Ingrese su apellido" required>
                </div>
                <div class="form-group">
                    <label for="id_password2">Ingrese su email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese un email" required>
                </div>
                <div class="form-group"> 
                    <label for="id_password2">Contraseña</label>
                    <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <label for="id_password2">Repita la contraseña</label>
                    <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Repita la contraseña" required>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                <h4>Errores</h4>
                {{ form.errors }}
                </div>
                {% endif %}

                <button type="submit" class="btn btn-secondary mt-3">Registrar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
